[General]
Show_Labels=false
Show_Colored_Bars=false
Use_Bar_UI=2
Update_Interval=2
Preferred_Height=442
Number_Chips=4
Tachos_ColorValue=2.2875988483428955
Tachos_Alpha=2.0184695720672607

[Chip0]
Name=acpitz-0
Number=0

[Chip1]
Name=coretemp-0
Number=1

[Chip1_Feature0]
Address=0
Name=Package id 0
Color=#00B000
Show=true
Min=0
Max=83

[Chip2]
Name=nvme-200
Number=2

[Chip3]
Name=ACPI
Number=3

